.app {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 15px 0px 15px 30px;
  background-color: rgb(70, 72, 77);
  width: 100%;
  text-align: center;
}

.header h1 {
  font-size: 32px;
  color: rgb(198, 219, 146);
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 15px 5% 15px 5%;
}

.add-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.user-icon {
  height: 50px;
  width: 50px;
  background-color: rgb(202, 207, 196);
  border-radius: 50%;
}

.comment-input-bar {
  margin: 0 15px;
  padding: 5px 10px;
  color: brown;
  font-size: 14px;
  border: 1px solid rgb(97, 94, 94);
  border-radius: 3px;
  width: 100%;
}

.add-button {
  padding: 5px 20px;
  background-color: rgb(183, 200, 103);
  color: rgb(48, 48, 46);
  font-size: 16px;
  min-height: 50%;
  border-radius: 6px;
  border: none;
  white-space: nowrap;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
}

.comment-content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.comment-text {
  padding-bottom: 10px;
}

.comment-text h1 {
  font-size: 32px;
  color: rgb(198, 219, 146);
  margin: 0;
  font-weight: 400;
}

.paired-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paired-buttons button {
  padding: 5px 15px;
  background-color: rgb(184, 201, 110);
  color: rgb(48, 48, 46);
  font-size: 16px;
  min-height: 50%;
  border-radius: 6px;
  border: none;
  white-space: nowrap;
}

.paired-buttons button:first-of-type {
  margin-right: 20px;
}

.comment-reply {
  margin-left: 70px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reply-input {
  width: 100%;
  /* margin-right: 10px; */
}

.reply-input-bar {
  margin-right: 15px;
  padding: 5px 10px;
  color: brown;
  font-size: 14px;
  border: 1px solid rgb(97, 94, 94);
  border-radius: 3px;
  width: 95%;
}
